

<div *ngFor="let group of groups; let a = index">

	<div class="row text-center">

			  <div *ngFor="let one of groups[a]; let i = index" class="col-sm-4">
			    <div class="thumbnail">
			      <img src="../../../assets/img/spa.jpg" alt="Paris">
			      <p><strong>{{ one.name }}</strong></p>
			      <p>More Info</p>
			      <p><strong>Current Bids</strong></p>
			      <p *ngFor="let bid of one._bids">${{ bid.amt }} by {{ bid.bidder }} </p>
			      <button class="activate" (click)="activate()">Bid</button>
			      	<div>
				      <form class="form" (submit)="onBid($event)">
				      	<input 
							type="integer" 
							name="amt" 
							required

							[(ngModel)]="bid.amt"
							#amt="ngModel"
						/>
						<input type="submit" value="Submit" />
				      </form>
				    </div>  	
			    </div>
			  </div>
	</div>
</div>	



<table>
	<thead>
		<tr>
			<th>Auction Item</th>
			<th>Current Bids</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items">
			<td>{{ item.name }}</td>
			<td><ul><li *ngFor="let bid of item._bids">${{ bid.amt }} by {{ bid.bidder}} </li></ul></td>
		</tr>	
	</tbody>	
</table>


<h2> Make Your Bid</h2>

<p class="alert" *ngIf="alert">{{ alert }}</p>

<form (submit)="onSubmit($event)">

					<select
						name="item_id" 
						[(ngModel)]="bid.item_id"
						#item_id="ngModel"
						>

						<option *ngFor="let item of items" value={{item._id}}>{{ item.name }}</option>

					</select>	

					<input 
						type="integer" 
						name="amt" 
						required

						[(ngModel)]="bid.amt"
						#amt="ngModel"

					/>

					<span *ngIf="amt.errors">Amount is required, must be higher than previous bids.</span>

					<input type="submit" value="Bid" />
				
</form>


<p><button (click)="updateStatus($event)">End the Bidding</button></p>

